nav{
    top: 0;
    position: sticky;
    z-index: 3;
}

.navbar-right{
    float: right;
    text-align: right;
}

.navbar-left{
    float: left;
    text-align: left;
}

@media screen  and (max-width:780px){
    .product-card{
        width: 350px !important;
    }
    .cart-product-description{
        display: none !important;
    }
}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}